<div class="container">
	<div class="row">
		<div class="col align-items-center">
			<h1>Its bootstrap</h1>
		</div>
	</div>
</div>

<div class="d-flex align-items-center flex-column justify-content-center h-100 bg-dark text-white" id="header">
    <h1 class="display-4">Hello.</h1>
    <form>
        <div class="form-group">
            <input class="form-control form-control-lg" placeholder="Email" type="text">
        </div>
        <div class="form-group">
            <input class="form-control form-control-lg" placeholder="Password" type="text">
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-lg btn-block">Sign In</button>
        </div>
    </form>
</div>

<div class="container-fluid h-100 bottom">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col align-self-start">
      One of three columns
    </div>
    <div class="col align-self-center">
      One of three columns
    </div>
    <div class="col align-self-end">
      One of three columns
    </div>
  </div>
</div>