<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-md-center">
  <a class="navbar-brand" href="/">Главная</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">О нас</a>
      </li>
    </ul>
  </div>
</nav> -->

<div class="container top">
  <div class="row align-items-end">
    <div class="col align-self-center">
      <div class="component-logo logo " data-component="logo" style="background-image: url('/img/papa_kalo_logotip.png');
                height: 62px; width: 186px;"></div>
    </div>
    <div class="col-5">
      <div class="desc">
        <p style="text-align: center;">
          <strong>
            <span style="font-size: 20px;">Отделка деревянного&nbsp;</span>
          </strong>
          <strong>
            <span style="font-size: 20px;">дома, бани под ключ</span>
          </strong>
        </p>
        <p style="text-align: center;">
          <span style="font-size: 16px;">Работаем по Московской и ближайшим областям</span>
        </p>
      </div>
    </div>
    <div class="col">
      <div class="phone-holder">
        <div class="phone"><p></p><p style="text-align: center;"><span style="font-weight: 700; color: rgb(243, 121, 52);">+7(985) 418-00-18</span></p><p></p>
        </div
        ><div class="phone-desc"><p></p><p style="text-align: center;"><span style="font-weight: 700;"><em>E-mail: Info@pk777.ru</em></span></p><p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid menu">
  <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/">ГЛАВНАЯ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ОТДЕЛКА ДОМА</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">БАНЯ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/grinding">ШЛИФОВКА</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ПОКРАСКА</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/caulk">КОНОПАТКА</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ГЕРМЕТИК</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">О НАС</a>
        </li>
      </ul>
</div>


