.bottom {
    margin-top: 50px;
    background: #688fb9;
    padding-top: 30px;
}

.component-logo {
    max-width: 100%;
    min-height: 50px;
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.top {
	padding: 48px 0;
}

.phone {
    font-size: 29px;
    line-height: 1.4;
    text-align: right;
    word-break: break-word;
}

.carousel-inner > .item > img {
  width: 640px;
  height: 360px;
  background-color: #8080805e; 
}

.verticalhorizontal {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    height: 480px;
}

.menu {
	margin-bottom: 10px;
    background-color: #8080805e;
    color: #393b3e;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}